env:
  - name: EXTERNAL_DNS_PIHOLE_PASSWORD
    valueFrom:
      secretKeyRef:
        name: pihole-password
        key: password
  - name: EXTERNAL_DNS_PIHOLE_TLS_SKIP_VERIFY
    value: "true"

provider: pihole
policy: upsert-only
sources:
  - ingress

extraArgs:
  - --pihole-server=http://pihole-web.networking.svc.cluster.local

podSecurityContext:
  fsGroup: 65534
