ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik
  hosts:
    - monitor.192.168.1.151.nip.io

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://monitoring-prometheus-server.monitoring.svc.cluster.local
        access: proxy
        isDefault: true
