serviceDns:
  type: LoadBalancer

ingress:
  # -- Generate a Ingress resource
  enabled: true

  # -- Annotations for the ingress
  annotations:
    kubernetes.io/ingress.class: traefik
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    # virtualHost (default value is pi.hole) will be appended to the hosts
    - pihole.192.168.1.104.nip.io
