name: Build and Push Docker Image
on:
  push:
    branches:
      - main
    paths:
      - 'src/office-lights/**'

env:
  DOCKERHUB_REPO: adamwalford

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: ['office-lights']
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # This ensures we get the full history

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          registry: ${{ github.repository }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build \
            --tag ${DOCKERHUB_REPO}/${{ matrix.app }}:${{ github.sha }} \
            ./src/${{ matix.app }}

      - name: Push Docker Image
        if: always()
        run: |
          docker push ${DOCKERHUB_REPO}/${{ matrix.app }}:${{ github.sha }}
