name: Build and Push Docker Image

on:
  push:
    branches:
      - main

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/home:latest

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t ${{ env.IMAGE_NAME }} .

      - name: Log in to Docker Hub
        run: docker login --username ${{ env.DOCKER_USERNAME }} --password-stdin <<< ${{ env.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker push ${{ env.IMAGE_NAME }}
