name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - docker-tags

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/home

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v0
        with:
          versionSpec: "5.x"

      - name: Determine Version
        uses: gittools/actions/gitversion/execute@v0

      - name: Build Docker image
        run: docker build -t ${{ env.IMAGE_NAME }}:${{ steps.gitversion.outputs.semVer }} .

      - name: Log in to Docker Hub
        run: docker login --username ${{ env.DOCKER_USERNAME }} --password-stdin <<< ${{ env.DOCKER_PASSWORD }}

      - name: Push Docker image
        run: docker push ${{ env.IMAGE_NAME }}

  # validate-deployment:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Set up Helm
  #       uses: azure/setup-helm@v1

  #     - name: Helm Validate
  #       run: helm template charts/energy-monitor
